<!DOCTYPE html>
<html>
<head> <meta charset="UTF-8"></head>
<body style="padding: 3rem">
<h2 style="margin-top: 3rem">Doctor</h2>
<h4> {{ appointmentInfo.getUser.getFullName }}</h4>
<h4> {{ appointmentInfo.getUser.getSpecialisation.getName }}</h4>
<h4> {{ appointmentInfo.getUser.getMedicalCenter.getName }} </h4>
<h4> {{ appointmentInfo.getUser.getMedicalCenter.getAddress }} </h4><br />

<div style="margin-right: 3rem">
    <h2 style="margin-right: 3rem">Patient</h2>
    <h4>Patient fullname: {{ appointmentInfo.getIdPatient.getFullname }} </h4>
    <h4>Patient pesel: {{ appointmentInfo.getIdPatient.getPesel }} </h4>
    <h4>Patient address: {{ appointmentInfo.getIdPatient.getAddress }} </h4>
</div>
<div style="margin-top: 3rem">
    {% for appointment in appointments %}
    <h4>Appointment date: {{ appointment.getAppointmentDate | date('Y-m-d H:i')}}</h4><br />
        <p>Diagnosis: {{ appointment.getDiagnosis }}</p>
        <p>Temperature: {{ appointment.getTemperature }}</p>
        <p>Blood pressure: {{ appointment.getBloodPressure }}</p>
        <p>Sugar level: {{ appointment.getSugarLevel }}</p>
        <p>Medicamente: {{ appointment.getMedicamenteDescription }}</p>
        <p>Description: {{ appointment.getDescription }}</p> <br />
    {% endfor %}
</div>



</body>
</html>